extends layouts/frontend

block content
    div
        a(href="/restos" style="color:white;border: 1px solid #1b1c1d;padding:5px;margin:30px 0 0 20px;background-color:#1b1c1d") Retour à la recherche

    div(style="text-align:center")
        h1 Résultat.s de votre recherche
    
    div(style="margin:3em 0")
    .ui.middle.aligned.center.aligned.grid
        div(style="font-family:Courier;width:80%;margin-left:10em;margin-top:4em")
            if(restaurants != [])
                each restaurant in restaurants
                    div(style="border:3px dashed #1b1c1d;margin:5em;display:flex")
                        div
                            img(src="img/building.svg", alt="Building picture", style="width:30%;margin:2em 0 2em 10em")
                        div(style="margin-top:2em")
                            h2=restaurant.name
                            p(style='font-weight:bold;font-size:1.2em') Type de cuisine : 
                            p(style='font-size:1.2em')=restaurant.cuisine
                            p(style='font-weight:bold;font-size:1.2em') Adresse du restaurant :
                            p(style='font-size:1.2em')=restaurant.fullAddress
                            p(style='font-weight:bold;font-size:1.2em') Quartier :
                            p(style='font-size:1.2em')=restaurant.borough
            else 
                h2 -- Il n'existe pas de résultats correspondant à votre recherche --
            
    footer 
        div(style="margin:15em 0;padding:5em;background-color:brown;display:flex")
            img(src="img/logo_red.png", alt="Logo website D.app", style="width:15%;margin-left:10em")
            ul(style="list-style-type:none; font-family:Courier;font-size:1.4em;line-height:1.5em")
                li <a href="/restos" style="color:orange;">Restaurants</a>
                li <a href="/explore" style="color:orange;">Explore</a>
                li <a href="/rating" style="color:orange;">Rate</a>
                li <a href="/addRestaurant" style="color:orange;">Add Restaurant</a>